<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="parentsuite">
    
    <listeners>
        <listener class-name="listener1"></listener>
    </listeners>
    
    <suite-files>
        <suite-file path="xmlFile1.xml"> </suite-file>
        <suite-file path="xmlFile2.xml"> </suite-file>
    </suite-files>
</suite>